@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #6e43fb;
}
.box{
    position: relative;
    width: 300px;
}
.box h3{
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
}
.box p{
    margin-top: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#fff;
    text-align: center;
}
.box .inputBox{
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
}
.box .inputBox input{
    position: relative;
    width: 100%;
    outline: none;
    border: none;
    color: #040404;
    background-color: #fff;
    padding: 10px 5px;
}
.box .inputBox #toggleBtn{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
    color: #040404;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box .inputBox #toggleBtn::before{
    content: '\f06e';
    font-family: fontAwesome;
}
.box .inputBox #toggleBtn.hide::before{
    content: '\f070';
    font-family: fontAwesome;
}
.validation{
    background: #fff;
    padding: 10px;
    margin-top: 30px;
    border-radius: 8px;
}
.validation ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.validation ul li{
    position: relative;
    list-style: none;
    color: #333;
    font-size: 0.85em;
    transition: .5s;
}
.validation ul li.valid{
    color: rgba(0,0,0,0.5);
}
.validation ul li.valid::before{
    content: '\f00c';
}
.validation ul li::before{
    content: '\f192';
    width: 20px;
    height: 10px;
    font-family: fontAwesome;
    display: inline-flex;
}